{{ define "main" }}
<link rel="stylesheet" href="{{ "static/css/styles.css" | relURL }}">

<div class="row">
    <!-- <h1>{{ .Title }}</h1> -->
   
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6  mb-4">
        <div class="card h-100 single-post-card shadow-effect bg-faded-light">
        <div class="card mb-4 shadow-sm">
        <img class="card" src="{{ .Params.coverImage }}" alt="{{ .Title }}">
          
        {{ .Content }}
    </div>
    </div>
    </div>

    <div class="row projects-list">
        
            <div class="col-md-4 project-item">
                
                <div class="card mb-4 shadow-sm">
                    
                    <img class="card-img-top" src="{{ .Params.coverImage }}" alt="{{ .Title }}">
                    {{ range (where .Site.Pages "Type" "project") }}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                        <p class="card-text">{{ .Params.description }}</p>
                        <p class="card-text"><small class="text-muted">Status: {{ .Params.status }}</small></p>
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
