<div class="col-xs-12 col-md-3">
    <div id="profile">
        <div class="small-portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
        <div class="portrait-title">
            <h3 itemprop="name">
                {{if isset .Params "external_link"}}
                <a href="{{ .Params.external_link }}">
                    {{ .Params.name }}
                </a>, {{.Params.title}}
                <br/>
                {{.Params.now}}
                {{else}}
                {{ .Params.name }}<br/>
                Now at {{.Params.title}}
                {{end}}
            </h3>
        </div>

    </div>
</div>
